header{ background:#0044ff; color:rgb(0, 0, 0); display:flex;
    justify-content: space-around;
font-size: large;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
    .cabecalho-imagem{ width: 100%;}
